# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
dist/

# idea
.idea
*.iml
*.ipr
*.iws

# Go workspace file
go.work
go.work.sum

# env file
.env
*.log
*.db
build/
.vscode/
__debug_*
www/
*.db
tables/
*.tar
*.zip
.idea/
data/
logs/
build/
__debug_bin*
tables/
*.pprof
*.test
CLAUDE.local.md
*.mp4
*.mp3
tmp/
**/.DS_Store


